@{
    ViewData["Title"] = "Home Page";
}
<bod<!DOCTYPE html>
<html lang="en">
<head>
<title >Rometi's Enterprise </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="Css/style.css" type="text/css" media="all" />
<head>
<
<!--
    ==========================
    Work on internhub home page main components/sections
                                             =============================
-->
